.app-container {
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid red;
}

.form {
  border: 1px solid purple;
}

.upper__corner {
position: absolute;
width: 330px;
height: 235px;
transform: rotate(39deg);
top: -100px;
right: -100px;
border-bottom-left-radius: 43%;
border-bottom-right-radius: 40%;
background-color: hsl(53, 100%, 91%);
z-index: -1;
}

.lower__corner {
  position: fixed;
  background-color: hsl(210, 65%, 92%);
  width: 330px;
  height: 165px;
  bottom: 0px;
  left: -110px;
  border-top-right-radius: 80%;
  border-top-left-radius: 70%;
  z-index: -1;
}

.start__screen {
  text-align: center;
}

.start__title {
  letter-spacing: 3px;
  font-weight: 550;
}

.starting__subtitle {
  margin-top: .5rem;
  margin-bottom: 1.5rem;
}

.button {
  background-color: hsla(230, 34%, 46%, 1);
  border: none;
  padding: .7rem 1.5rem;
  border-radius: 10%;
  border-radius: 15px;
  color: #fff;
  cursor: pointer;
  margin-inline: 2rem;
}

.question__block {
    border-bottom: 1px solid hsl(231, 41%, 90%);
}

.question__block:not(:first-child) {
  margin-top: 1rem; 
}

.question {
  font-weight: 600;
  text-align: left;
}

.answers {
  display: flex;
  font-size: .85rem;
  list-style-type: none;
  margin-top: .7rem;
  margin-bottom: 1rem;
}

.answer {
  border: 1px solid hsl(230, 34%, 46%);
  padding: 0.2rem 1rem;
  border-radius: .7rem;
  margin-right: 1rem;
  cursor: pointer;
}

.answer:last-child {
  margin: 0;
}

.answer input {
  display: none;
}

.answer:has(input:checked){
  background-color: hsl(230, 61%, 90%);
  border: none;
}

.answer_checked {
  pointer-events: none;
  border: 1px solid hsl(229, 30%, 72%);
  color: hsl(231, 17%, 62%);
}

.answer.correctAnswer {
  color: hsl(231, 42%, 28%);
  background-color: hsl(133, 46%, 71%) !important;
  border: none;
}

.answer.wrongAnswer {
  background-color: hsl(356, 62%, 91%) !important;
  border: none;
}

.check {
  margin-top: 3rem;
}

.endingBorders {
  border: 1px solid hsl(229, 30%, 72%) !important;
}

.endingFontColor {
  color: hsl(231, 17%, 62%) !important;
}
